# Certificates and private keys
*.pem
*.key
*.crt
*.yaml.backup

# Fabric configuration and artifacts
*.tx
*.block
*.json
*.pb
*.tar.gz

# Generated folders and binaries
log.txt
wallet/
ledgers/
ledgers-backup/
crypto-config/
system-genesis-block/
fabric-samples/bin/*
fabric-samples/config/*
channel-artifacts/*
org3-artifacts/crypto-config/

# Fabric CA and orgs
organizations/fabric-ca/ordererOrg/*
organizations/fabric-ca/org1/*
organizations/fabric-ca/org2/*
addOrg3/fabric-ca/org3/*
organizations/ordererOrganizations/*
organizations/peerOrganizations/*
